<strong>Olá, {{provider}}</strong>
<p>Detalhes abaixo:</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    Configuração para corpo da mensagem
  </small>
</p>
